* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2em;
  padding-right: 2em;
}

.upload_section {
  display: flex;
}

.upload-container input[type="file"] {
  font-size: 2em;
}
.upload-container button {
  font-size: 2em;
}
.regular-ui {
  font-size: 2em;
}
.large-ui {
  font-size: 2em;
}
@media (max-width: 430px) {
  .title {
    font-size: 1.5em;
  }
  .upload-container input[type="file"],
  .upload-container button {
    font-size: 1em;
  }
  .regular-ui {
    padding-top: 2em;
    padding-left: 2em;
    font-size: 1.5em;
  }
  .large-ui {
    padding-top: 2em;
    padding-left: 2em;
    font-size: 1.5em;
  }
}

.title {
  width: 100%;
  height: 70px;

  text-align: center;
  line-height: 70px;

  padding-left: 1rem;
  font-size: 2em;
  font-weight: bold;
  padding-right: 1rem;

  background-color: rgb(0, 73, 29);
  color: rgb(255, 248, 236);
}

.nextPage {
  display: flex;
  position: fixed;
  bottom: 6em;
  margin-left: 12.5em;
  font-size: 1em;
  width: 10em;
  line-height: 2.4em;
  justify-content: center;
}

.menu_default_txt {
  padding-top: 1em;
  font-size: 1.4em;
  text-align: center;
}

.menu_default_img {
  padding-top: 1em;
  width: 100%;
  height: 13rem;
}

.infoSection {
  border: 1px solid rgb(0, 73, 29);
  border-radius: 5px;
  margin: 2rem;
  padding-bottom: 1rem;
}

.infoSection ol {
  padding: 1rem 0 0 1rem;
  font-size: 1.3em;
  font-weight: bold;

  padding-bottom: 0.5em;
}

.infoSection li {
  list-style: none;
  font-size: 1.1em;
  padding: 0.5em;
}

.selectfile_p {
  background-color: rgb(238, 235, 231);
  border: 0.1cqh solid black;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  border-radius: 3px;
  display: inline;
}

.nextPage_p {
  background-color: rgb(0, 73, 29);
  color: rgb(255, 248, 236);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  border-radius: 3px;
  display: inline;
}

#uploadedImage {
  width: 8em;
  height: 8em;
}

#fileInput {
  width: 240px;
}

.display_section {
  display: flex;
}

button {
  background-color: rgb(0, 73, 29);
  color: rgb(255, 248, 236);
  height: 2.5em;
  border-radius: 6px;
  cursor: pointer;
}
